<h2>List of ratings</h2>

<p> Number of ratings: <%= @ratings.count %> </p>

<table>
  <% @ratings.each do |rating| %>
      <tr>
      <td> <%= rating %></li></td><td> <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
      </tr>
  <% end %>
</table>

<p>
<%= link_to 'New rating', new_rating_path %>
</p>
